/* Whole section animation */
.slide-from-right {
    opacity: 0;
    transform: translateX(120px);
    animation: sectionSlideIn 1.2s ease-out forwards;
}

/* Keyframes */
@keyframes sectionSlideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}